#my-caves-page h2{
    text-align: center;
    margin: 5px;
  padding: 10px;
}
.my-caves ul{
  margin: 10px 50px ;
  padding: 10px 50px ;
  
    flex-direction:row;
    display: flex;
}
.my-caves li{
  margin: 10px 20px ;
  padding: 10px 20px ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    display: flex;
    flex-direction:column;
    text-align: center;
}
.my-caves ul .button{
  margin: 20px;
    text-decoration-line: none;
    padding: 15px;
    color: white;
    background-color: rgb(99, 98, 98);
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
}
.my-caves ul .button:hover {
    background-color: #ddd;
    color: black;
    transition: 0.3s;
  }
  .my-caves ul li img{
    width: 200px;
    height: 150px;
    border-radius: 5px;
  }
  .my-caves ul li p{
    padding-bottom: 20px;
  }
  