#my-caves-page h1{
    text-align: center;
    margin: 5px;
  padding: 10px;
}
.my-caves ul{
    flex-direction:column;
    display: flex;
}
.my-caves li{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    display: flex;
    flex-direction:column;
    text-align: center;
}
.my-caves ul .button{
    text-decoration-line: none;
    padding: 15px;
    color: white;
    background-color: rgb(99, 98, 98);
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
}
.my-caves ul .button:hover {
    background-color: #ddd;
    color: black;
  }
  .my-caves ul li img{
    width: 100px;
  }
  