/* @import 'forms.css';
@import 'navigation.css';
@import 'all.css'; */


.topnav {
    background-color: rgb(99, 98, 98);
    overflow: hidden;
  }
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
.topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
#user span{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
#site-footer{
   padding: 2px;
   background-color:rgb(99, 98, 98) ;
   color: white;
   text-align: center;
  }
body{
    background-color:rgb(231, 230, 230);
}
#catalog h1{
    text-align: center;
    margin: 5px;
  padding: 10px;
}

.catalog section ul{
    flex-direction:column;
    display: flex;
}
.catalog section ul li{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  display: flex;
  flex-direction:column;
  text-align: center;
}
.catalog section ul li .button {
    text-decoration-line: none;
    padding: 15px;
    color: white;
    background-color: rgb(99, 98, 98);
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
  }
  .catalog section ul li .button:hover {
    background-color: #ddd;
    color: black;
  }
  .catalog section ul li img{
      width: 100px;
  }
  .catalog section p {
    font-weight: bold;
    font-size: large;
    text-align: center;
  }